body {
    font-family: 'Calibri';
    color: #ddd;
    background-color: #333;
}

.checkboxes-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

label {
    padding-top: 5px;
    padding-bottom: 5px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

h1,
h3 {
    text-align: center;
}

hr {
    opacity: 0.15;
}

@media (max-width: 1200px) {
    .checkboxes-container {
        grid-template-columns: auto auto auto;
    }
}

@media (max-width: 900px) {
    .checkboxes-container {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 700px) {
    .checkboxes-container {
        grid-template-columns: auto;
    }
}